In [346]:
#APARENCIA: SOL NUBLADO CHIVA
#TEMPERATURA -130 ~130 F
#UMIDADE 0 - 100
#JOGAR: SIM NAO
#tratar valores NAs

In [347]:
import pandas as pd
import statistics as st

In [348]:
#lendo dataframe
dataset=pd.read_csv('tempo.csv', sep=';')
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [349]:
#verificando tamanho do data
dataset.shape

(14, 5)

In [350]:
#vamos tratar Aparencia
dataset['Aparencia']

0         sol
1         sol
2     nublado
3       chuva
4       chuva
5       chuva
6       menos
7         sol
8         sol
9       chuva
10        sol
11    nublado
12    nublado
13      chuva
Name: Aparencia, dtype: object

In [351]:
#verificamos uma palavra fora do dominio
#vamos escolhe a moda para ela
#verificando a moda
modaa=st.mode(dataset['Aparencia'])
print(modaa)
dataset.loc[(dataset['Aparencia']=='menos'),'Aparencia']= modaa

sol

In [352]:
#verificando a substituição
dataset['Aparencia']

0         sol
1         sol
2     nublado
3       chuva
4       chuva
5       chuva
6         sol
7         sol
8         sol
9       chuva
10        sol
11    nublado
12    nublado
13      chuva
Name: Aparencia, dtype: object

In [353]:
#verificando a coluna de temperatura
#identificar erros e substituir pela moda
agrupado=dataset.groupby('Temperatura').size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [354]:
#vemos que há um dado string onde deveria ser inteiro. vamos substituir pela moda
modat=st.mode(data['Temperatura'])
print(modat)

70

In [355]:
#parametrizando domínio
dataset.loc[(dataset['Temperatura']<-130),'Temperatura']=modat
dataset.loc[(dataset['Temperatura']>130),'Temperatura']=modat
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        sol           64     65.0  VERDADEIRO   sim
7        sol           70     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [356]:
#VAMOS TRATAR UNIDADE. PRIMEIRO ENCONTRAR OS NAN E SUBSTITUIR PELA MODA DEPOIS DEFINIR O DOMINIO ENTRE 0 E 100
#encontrando a moda da Umidade
modau=st.mode(dataset['Umidade'])
print(modau)

70.0

In [357]:
#Encontrar quantas NAs em umidade
dataset['Umidade'].isnull().sum()

1

In [358]:
#substituir NA po moda
dataset['Umidade'].fillna(modau,inplace=True)
dataset['Umidade'].isnull().sum()

0

In [359]:
#veridicando dominio e substituido 
dataset.loc[dataset['Umidade']<0, 'Umidade']=modau
dataset.loc[dataset['Umidade']>100, 'Umidade']=modau
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     70.0       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        sol           64     65.0  VERDADEIRO   sim
7        sol           70     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     70.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [360]:
#vamos manipular o vento haha
modav=st.mode(dataset['Vento'])
print(modav)

FALSO

In [361]:
dataset.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [362]:
dataset['Vento'].isnull().sum()

1

In [363]:
dataset['Vento'].fillna(modav,inplace=True)
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     70.0       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        sol           64     65.0  VERDADEIRO   sim
7        sol           70     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     70.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [364]:
#agora vamos ajustar o dominio jogar
modaj=st.mode(dataset['Jogar'])
modaj

'sim'

In [365]:
dataset.groupby('Jogar').size()

Jogar
nao    5
sim    9
dtype: int64